@{
    ViewData["Title"] = "About";
}

<div class="text-center mb-5">
    <h1 class="display-4">About Us</h1>
</div>

<div class="container">
    <h3 class="mb-4 text-center">Our Company name is TigerStaplers.</h3>
     <p>
        <strong> What we have :</strong> We offer different types of staplers of different companies . Also there are two available sizes of them
        which are small and medium.
     </p>
    <p>
        <strong> what policy we offer:</strong> There are los of varities of staplers provided by us. Also there i  is a one year guarantee for all our
        products and we infact offer refund and exchange policy.
    </p>
    <p>
        <strong>Customer reviews :</strong> mostly we got the rating of 3-4 so  our customers are satisfied with the quality we provide them.
    </p>
    <p>
        <strong>our locations :</strong> You can find us easily on our website and order from anywhere in the world.
    </p>
    
</div>