@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 home-welcome">Welcome</h1>
    <p><a asp-controller="Staplers1" asp-action="Index">Staplers</a></p>
</div>
